<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>最底限渣男漫画_第14话,最底限渣男_在线漫画阅读_动漫屋</title>
    <meta name="Description"
          content="最底限渣男14漫画简介：作为社会渣滓的「底限」们，并没有活下去的价值……这...动漫屋提供最底限渣男14在线阅读和最底限渣男14第一时间更新，同时也是国内最底限渣男漫画最快最全的在线漫画阅读网站 - 14第1页。"/>
    <meta name="Keywords" content="最底限渣男漫画,最底限渣男第14话,最底限渣男在线漫画"/>
    <meta name="Author" content="动漫屋:好漫画,为看漫画的人而生、dm5.com"/>    <!-- 样式引用 -->
    <link rel="stylesheet" type="text/css" href="/static/comic/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="http://css99tel.cdndm5.com/v201811191843/dm5/css/view.css"/>
   <!--<script src="http://css99tel.cdndm5.com/v201811191843/dm5/js/jquery-1.8.3.min.js" type="text/javascript"></script>-->

<link rel="stylesheet" href="/static/comic/css/toPage.css">
    <script src="/static/comic/script/jquery.min.js"></script>
    <script src="/static/comic/script/toPage.js?22"></script>
<script src="/static/comic/script/jquery.cookie.js" type="text/javascript"></script>

</head>
<body class="white">
<div class="view-header-2" style="overflow:visible;position: inherit;">
    <!-- <a href="/manhua-zuidixianzhanan/" class="back">退出阅读</a> -->
    <div class="title"><a href="/">首页</a> <span class="right-arrow"><a href="/manhua-zuidixianzhanan/" title="最底限渣男">最底限渣男</a></span>
        <span class="active right-arrow">            第14话 最底限渣男            </span></div>
    <div class="right-bar">
        <div class="hover"><a href="javascript:void(0);" class="avatar userbtn"> <img data-isload="0"
                                                                                      class="header-avatar"
                                                                                      src="http://css99tel.cdndm5.com/dm5/images/mrtx.gif"/>
        </a></div>
        <div class="hover" style="margin-left: 30px;"><a href="/bookmarker/" class="bookshelf" data-isload="0"
                                                         target="_blank">书架</a></div>
        <a href="javascript:void(0)" class="collection">收藏</a>
        <div class="read-style-con"><a href="javascript:void(0);" class="read-style readmode" " val="1">阅读模式</a>

        </div>

    </div>
</div>


 <div class="page_2" style="text-align: center;"></div>
    <script>


      /*容器2参数*/

      var obj_2={

        obj_box:'.page_2',//翻页容器

        total_item:{{ len|safe }},//条目总数

        per_num:1,//每页条目数

        current_page:1,//当前页

        img_urls:{{ content|safe }}
      };

      /*调用分页方法,初始化数据*/

      page_ctrl(obj_2);

    </script>





<div class="view-win" id="last-win" style="display:none;z-index:900"><a href="javascript:void(0);"
                                                                        onclick="$('#last-mask').hide();$('#last-win').hide();"><img
        style="position: absolute;right: -32px;background-color: #fff;padding: 5px;top: 0;"
        src="http://css99tel.cdndm5.com/v201811191843/dm5/images/cross_red.png"/></a>
    <p class="title"><span class="view-tick">未完待续，敬请期待更新</span> <span class="right">                <a
            href="javascript:void(0)" class="view-code phone">手机上阅读<span class="code"><img
            src="http://css99tel.cdndm5.com/v201811191843/dm5/images/manhua_pc_code_1.png"/><span>扫码在手机上阅读</></span></span></a>
        <a href="javascript:void(0)" class="view-collection collection">收藏</a> <a href="/manhua-zuidixianzhanan/"
                                                                                  class="view-btn-back">返回目录</a>            </span>
    </p>
    <div class="view-rec">
        <div class="cover"><a href="/manhua-wushenzhuzai/" title="武神主宰"><img
                src="http://mhfm2cnc.cdndm5.com/39/38209/20180727110358_130x174.jpg" alt="武神主宰"/></a></div>
        <div class="info"><p class="titleBar"><a href="/manhua-wushenzhuzai/" title="武神主宰">武神主宰</a></p>
            <div class="star"><span class="active"></span> <span class="active"></span> <span class="active"></span>
                <span class="active"></span> <span></span></div>
            <p class="desc"> 作者： <a href="/search?title=%e8%b8%8f%e9%9b%aa%e5%8a%a8%e6%bc%ab&language=1&f=2">踏雪动漫</a>
            </p>
            <p class="subtitle">最新<span><a href="/m733062/" title="武神主宰 第215回" target="_blank">第215回</a></span></p>
            <p class="desc">战力：1.37亿点</p>
            <p class="desc">一代武神转生成为私生子，看他如何逆袭！</p>                <a href="/m733062/" title="武神主宰 第215回"
                                                                      target="_blank"
                                                                      onclick="GetFirstChapterUrl(38209, this)"
                                                                      class="view-read-btn">开始阅读</a></div>
    </div>
    <ul class="index-manga-list">
        <li>
            <div class="cover"><a href="/manhua-nvzixueyuandenansheng/" title="女子学院的男生"> <img class="img"
                                                                                              src="http://mhfm1cnc.cdndm5.com/37/36975/20180823114549_130x174.jpg"
                                                                                              alt="女子学院的男生"/> </a></div>
            <p class="titleBar"><a href="/manhua-nvzixueyuandenansheng/" title="女子学院的男生">女子学院的男生</a></p>
            <p class="subtitle">战力：12.59亿点</p>
            <p class="new">最新<span><a href="/m731744/" title="女子学院的男生 第195回" target="_blank">第195回</a></span></p></li>
        <li>
            <div class="cover"><a href="/manhua-jueshiwushen/" title="绝世武神"> <img class="img"
                                                                                  src="http://mhfm6cnc.cdndm5.com/37/36747/20180727114648_130x174.jpg"
                                                                                  alt="绝世武神"/> </a></div>
            <p class="titleBar"><a href="/manhua-jueshiwushen/" title="绝世武神">绝世武神</a></p>
            <p class="subtitle">战力：2.98亿点</p>
            <p class="new">最新<span><a href="/m732741/" title="绝世武神 第203回" target="_blank">第203回</a></span></p></li>
    </ul>
</div>
<div class="rightToolBar"><a href="/m116382/" title="第13话" class="logo_1">
    <div class="tip">上一话</div>
</a> <a href="javascript:void(0);" onclick="setautosize(this);resetimagesize();" title="自适应" class="logo_3 ">
    <div class="tip">自适应</div>
</a> <a href="javascript:void(0);" class="logo_4 view-collection collection" title="收藏">
    <div class="tip">收藏</div>
</a> <a href="javascript:switchlight();" class="logo_5">
    <div class="tip" id="lightTip">关灯</div>
</a></div>
<footer class="footer container-fluid">
    <section class="container">
        <div class="footer-left"><p class="footer-logo"><a href="/"> <img
                src="http://css99tel.cdndm5.com/v201811191843/dm5/images/logo-big.png" alt=""> </a></p>
            <p class="link"><span><a href="/about/" target="_blank">关于我们</a></span> <span><a href="/coomperation/"
                                                                                             target="_blank">商务合作</a></span>
                <span><a href="/help/" target="_blank">建议与投诉</a></span> <span><a href="/mianze/"
                                                                                 target="_blank">版权声明</a></span></p>
            <p> Copyright (C) 2005-2011 www.dm5.com 动漫屋 瑞安市我喜欢网络有限公司 All rights reserved </p>
            <p> 文网文：浙网文[2015]0289-059号 网站备案：浙ICP备09075556号-5 </p></div>
        <div class="footer-rigth">
            <ul class="qrcode-list">
                <li><img width="100" height="100"
                         src="http://css99tel.cdndm5.com/v201811191843/dm5/images/down-qrcode-2.png" alt="">
                    <span>手机APP</span></li>
                <li><img width="100" height="100" src="http://css99tel.cdndm5.com/v201811191843/dm5/images/weibo.png"
                         alt=""> <span>新浪微博</span></li>
            </ul>
        </div>
    </section>
</footer>
<div class="alertTop_1" style="display: none;"><p id="alertTop_1"></p></div>
<script type="text/javascript">        function getTextCount(item) {
    $(item).parent().find('.red').text(180 - $(item).val().length);
}    </script>
<section class="modal-wrap" style="display: none;z-index:1000">
    <div class="modal">
        <div class="modal-body login-modal"><span class="close"><i class="icon icon-close"></i></span>
            <h1>登录</h1>
            <div class="account-login-form">
                <div class="form-wrap"><p class="tip color-main"></p>
                    <p><input name="txt_name" type="text" autocomplete="off" value="" placeholder="您的手机号／邮箱／用户名"></p>
                    <p style="margin-bottom:15px;"><input name="txt_password" type="password" autocomplete="off"
                                                          value="" placeholder="密码"></p>
                    <p class="verify">

                    <input type="hidden" name="txt_code" style="display:none"/>                    </p>
                    <p>
                        <button id="btnLogin" class="button">立即登录</button>
                    </p>
                    <p class="options"><label><input name="remember" type="checkbox" value="1">自动登录</label> <span
                            class="find-pwd"><a href="/back/">忘记密码？</a></span> <span class="tabs-link pull-right"><a
                            class="" href="/register/">去注册</a></span></p></div>
                <dl class="three" style="display:none">
                    <dt>其他账号登录</dt>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-facebook.png"
                                   alt=""></span></dd>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-vk.png" alt=""></span>
                    </dd>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-ok.png" alt=""></span>
                    </dd>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-instagram.png"
                                   alt=""></span></dd>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-twitter.png"
                                   alt=""></span></dd>
                    <dd><span><img src="http://css99tel.cdndm5.com/v201811191843/dm5/images/account-icon-rss.png"
                                   alt=""></span></dd>
                </dl>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">        $(document.body).resize(function (e) {
    adjs();
});        </script>
<script type="text/javascript">
var mh_apkhost = "cnc.down.manhuaren.com";
if ($('body').hasClass('white')) {
    $('.mato5').css({color: '#252525'});
} else {
    $('.mato5').css({color: '#ffffff'});
}
var isLight=$.cookie('isLight')
if(isLight=='on'){
        $.cookie('isLight', 'on', {path: '/', expires: 365});
        $('.mato5').css({color: '#252525'});
        $('#lightTip').text('关灯');
}else{
        $('body').toggleClass('white');
        $.cookie('isLight', 'off', {path: '/', expires: 365});
        $('.mato5').css({color: '#ffffff'});
        $('#lightTip').text('开灯');
}

function switchlight() {
    $('body').toggleClass('white');
    if ($('body').hasClass('white')) {
        $.cookie('isLight', 'on', {path: '/', expires: 365});
        $('.mato5').css({color: '#252525'});
        $('#lightTip').text('关灯');
    } else {
        $.cookie('isLight', 'off', {path: '/', expires: 365});
        $('.mato5').css({color: '#ffffff'});
        $('#lightTip').text('开灯');
    }
}
</script>



</body>
</html>